extends layout
include _includes/sharedHTMLfunctions

block content
    .row.banner
        .col-12
            h1= pageHeader.title
                small &nbsp;#{pageHeader.strapline}
    .row
        .col-12.col-md-8
            form(action="/refresh", method="post", role="form")
                .form-group.row
                    label.col-10.col-sm-2.col-form-label(for="depth") Tag Path
                    .col-12.col-sm-10
                        input#name.form-control(name="depth")
                button.btn.btn-primary.float-right Refresh Tags
    .row.margin-top
        .col-12.col-md-8
            a.btn.btn-primary.float-right.button(href=`/add-tag`) Add Tag
    .row
        .col-12.col-md-8
            .error= message
            each tag in tags
                .card
                    .card-block
                        h4
                            a(href=`/tags/${tag._id}`)= tag.name
                            small &nbsp;
                                +outputRating(tag.value)
                            span.badge.badge-pill.badge-default.float-right= tag.quality
                        p.address= tag.description
        .col-12.col-md-4
            p.lead= sidebar